<!DOCTYPE HTML>
<html lang="de">
  <head>
    <title>EPOKO.tmpfile</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"/>

    {{!
    <!-- http://matt.might.net/articles/how-to-native-iphone-ipad-apps-in-javascript/ -->
    <meta name="apple-mobile-web-app-capable" content="no"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="default"/><!-- default, black, black-translucent -->
    <!-- link rel="apple-touch-icon" href="/projects/EPOKO.web/apple-touch-icon.png"/ -->
    <!-- link rel="apple-touch-startup-image" href="320x460-ipad1004x768.png"/ -->

    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../css/jquery.mobile-1.1.1.min.css" />
    <link rel="stylesheet" href="../css/jquery.mobile.structure-1.1.1.min.css" />
    <link rel="stylesheet" href="../css/styles.css" />
    <script src="../js/jquery-1.7.1.min.js"></script>
    <script type="application/javascript" language="JavaScript">
      $(document).bind("mobileinit", function(){
        $.mobile.allowCrossDomainPages = true;
        $.support.cors = true;
        $.mobile.ajaxLinksEnabled = true;
      });
    </script>
    <script src="../js/jquery.mobile-1.1.1.min.js"></script>
    }}

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script type="application/javascript" language="JavaScript">

      function allowDrop(e){
        e.preventDefault();
      }

      function drag(e) {
        e.dataTransfer.setData("text", e.target.id);
        console.log(e);
      }

      function drop(e){
        e.preventDefault();
        document.getElementById("dropfileinput").files = e.dataTransfer.files;
        document.getElementById("upload-form").submit();
      }

    </script>
  </head>

  <body>

    <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/upload">EPOKO.tmpfile</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/upload">Senden</a></li>
            <li><a href="/faq">FAQ</a></li>
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Anmelden</a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/faq">Anmelden ist zur Zeit noch nicht möglich</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container-fluid">
      {{{body}}}
    </div>

    <footer class="footer navbar navbar-default navbar-static-bottom">
      <div class="container-fluid">
        <p class="navbar-text">Copyright © 2015/2016 EPOKO</p>
        <ul class="nav navbar-nav">
          <li><a href="http://www.epoko.net">EPOKO.net</a></li>
          <!-- li><a href="">Nutzungsbedingungen</a></li -->
          <li><a href="http://www.epoko.net/webfile/impressum.php">Impressum</a></li>
        </ul>
        <p class="navbar-text navbar-right">0.4.3.beta</p>
      </div>
    </footer>

<!-- Piwik --
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//fschwic.piwikpro.com/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 3]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//fschwic.piwikpro.com/piwik.php?idsite=3" style="border:0;" alt="" /></p></noscript>
!-- End Piwik Code -->

  </body>

</html>
