<div class="row">
  <div class="col-sm-9">

    <div class="row">
      <div class="col-sm-12">
        <h1><a href="{{location}}">{{filename}}</a> zum Herunterladen bereit</h1>
        <p>Klick <a href="{{location}}">hier</a> um die Datei herunterzuladen oder 
        benutze den QR-Code um die Datei auf dein Smartphone zu laden.</p>
        {{#if count}}
        <p>Die Datei kann {{count}} Mal heruntergeladen werden. Danach wird sie unwiederbringlich gelöscht.</p>
        {{/if}}
      </div>
    </div>

  </div>

  <div id="location-qrcode" class="col-sm-3">
    <img class="img-responsive" src="{{qrcode}}" alt="Location QRCode">
  </div>
</div>
