<h2>FAQ</h2>

<dl class="panel-group" id="faq">

  <div class="panel panel-default">
    <dt class="panel-heading">
      <a href="#anmelden" data-toggle="collapse" data-parent="#faq">Warum ist Anmelden noch nicht möglich?</a>
    </dt>
    <dd id="anmelden" class="panel-body panel-collapse collapse">Soweit sind wir noch nicht.</dd>
  </div>
  
  <div class="panel panel-default">
    <dt class="panel-heading">
      <a href="#kostenlos" data-toggle="collapse" data-parent="#faq">Wird das Angebot kostenlos bleiben?</a>
    </dt>
    <dd id="kostenlos" class="panel-body panel-collapse collapse">Das Hochladen einer Datei bis zu einer Grösse von 15 MB zum einmaligen(!) Download wird kostenlos bleiben. Alles weitere - mehrmaliges Abrufen einer Datei bevor sie gelöscht wird, Verfügbarkeit für eine bestimmte Zeit, unbegrenzte Verfügbarkeit, grössere Datei - wird an ein <strong>voraussichtlich</strong> kostenpflichtiges Benutzerkonto gebunden sein. Solltest du diesen Dienst z.B. für eine selbstgeschriebene App benutzen, setze die Anzahl der Downloads für eine hochgeladene Datei auf 1, lade nur Dateien bis zu einer Grösse von 15 MB hoch und es werden auch in Zukunft keine Kosten für die Nutzung anfallen. Falls du mehr Downloads angibst oder grössere Dateien hochlädst, kann es sein, dass deine Anfragen in Zukunft abgelehnt werden.</dd>
  </div>
  
  <div class="panel panel-default">
    <dt class="panel-heading">
      <a href="#wiegross" data-toggle="collapse" data-parent="#faq">Wie gross darf eine Datei zum Hochladen sein?</a>
    </dt>
    <dd id="wiegross" class="panel-body panel-collapse collapse">Eine Datei darf maximal {{fileMaxSizeMB}} MB gross sein.</dd>
  </div>
  
  <div class="panel panel-default">
    <dt class="panel-heading">
      <a href="#wieoft" data-toggle="collapse" data-parent="#faq">Wie oft kann eine Datei heruntergeladen werden?</a>
    </dt>
    <dd id="wieoft" class="panel-body panel-collapse collapse">Maximal {{maxAllowedDownloads}} Mal kann eine Datei heruntergeladen weden. Beim Hochladen einer Datei kann die Anzahl der Downloads angegeben werden. Bei der Verwendung eines HTML Formulars wird die Anzahl in dem Feld <em>count</em> übertragen. Wird eine Datei mit einem HTTP POST Request übertragen kann die Anzahl in einem <em>x-allowed-downloads</em> Header übertragen werden. Wenn für die Anzahl der Downloads kein Wert oder ein Wert grösser {{maxAllowedDownloads}} angegeben wurde, kann die Datei ein mal heruntergeladen werden.</dd>
  </div>
  
  <div class="panel panel-default">
    <dt class="panel-heading">
      <a href="#wielange" data-toggle="collapse" data-parent="#faq">Wie lange steht eine Datei zum Herunterladen bereit?</a>
    </dt>
    <dd id="wielange" class="panel-body panel-collapse collapse">Wenn die Anzahl der beim Hochladen angegeben Downloads aufgebraucht ist, wird die Datei gelöscht (siehe <a href="#wieoft" data-toggle="collapse" data-parent="#faq">Wie oft ...</a>). Nach 10 Tagen wird die Datei gelöscht unabhängig davon wie oft sie heruntergeladen wurde.</dd>
  </div>
  
  <div class="panel panel-default">
    <dt class="panel-heading">
      <a href="#programmatisch" data-toggle="collapse" data-parent="#faq">Darf ich den Dienst programmatisch nutzen?</a>
    </dt>
    <dd id="programmatisch" class="panel-body panel-collapse collapse">Ja. Sowohl ein entsprechendes <a href="#htmlform" data-toggle="collapse" data-parent="#faq">HTML Formular</a> kann und darf in die eigene Webseite/Webapp eingebaut werden, als auch <a href="#httppost" data-toggle="collapse" data-parent="#faq">HTTP Post Requests</a> können und dürfen aus Webseiten und Apps gegen diesen Dienst ausgeführt werden. Aktuelle Limits bei der Verwendung sind maximal {{maxAllowedDownloads}} Downloads und eine Dateigrösse von maximal {{fileMaxSizeMB}} MB. Es sollte davon ausgegangen werden, dass auch weniger Ressourcen in Zukunft nur noch mit einem kostenpflichtigen Benuzterkonto genutzt werden können (siehe <a href="#kostenlos" data-toggle="collapse" data-parent="#faq">Wird das Angebot kostenlos bleiben?</a>). </dd>
  </div>
  
  <div class="panel panel-default">
    <dt class="panel-heading">
      <a href="#htmlform" data-toggle="collapse" data-parent="#faq">Wie muss das HTML Formular aufgebaut sein?</a>
    </dt>
    <dd id="htmlform" class="panel-body panel-collapse collapse">Ziel <a href="/file-upload">/file-upload</a>. 
    <pre>&lt;form action="/file-upload" method="POST" enctype="multipart/form-data"&gt;</pre>
    Ein input mit name="count". Ein Input vom Typ <em>file</em> mit name="file".</dd>
  </div>
  
  <div class="panel panel-default">
    <dt class="panel-heading">
      <a href="#httppost" data-toggle="collapse" data-parent="#faq">Wie muss der HTTP Request aussehen?</a>
    </dt>
    <dd id="httppost" class="panel-body panel-collapse collapse">Mit <em>curl</em> z.B. so:
    <pre>curl -i -X POST -H "Content-Type: image/png" -H "X-Allowed-Downloads: 3" 'http://tmp.epoko.net/uploads' --data-binary @folder/file.png</pre></dd>
  </div>
  
  <div class="panel panel-default">
    <dt class="panel-heading">
      <a href="#" data-toggle="collapse" data-parent="#faq"></a>
    </dt>
    <dd id="" class="panel-body panel-collapse collapse"></dd>
  </div>
  
</dl>
