<div class="row">
  <div class="col-sm-9">

    <div class="row">
      <div class="col-sm-12">
        <h1>Datei erfolgreich abgelegt</h1>
        <label for="location">URL der Datei</label>
        <input type="text" name="location" id="location" value="{{location}}">
        {{#if count}}
        <p>Die Datei ist {{count}} Mal abrufbar. Danach wird sie unwiederbringlich gelöscht.</p>
        {{/if}}
      </div>
    </div>

    <div class="row">
      <div id="location-mail" class="col-sm-12">
        <a href="mailto:some@one.com?subject=EPOKO.tmpfile&body={{location}}">
          <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
        </a>
      </div>
    </div>

  </div>

  <div id="location-qrcode" class="col-sm-3">
    <img class="img-responsive" src="{{qrcode}}" alt="Location QRCode">
  </div>
</div>
