<div class="row" id="about">
  <div class="col-md-4 col-md-offset-2 col-sm-5 col-sm-offset-1 well">
    <h2>Einfach austauschen</h2>
    <p>Du willst einem Freund eine Datei geben, hast aber keinen
      USB Stick oder sitzt nicht neben ihm? Hier kannst du eine Datei
      hochladen und nachdem dein Freund sie <strong>einmal herunter
      geladen</strong> hat, ist sie wieder gelöscht.</p>
    <p>Die Adresse der Datei ist so lang und unsinnig, dass sie kaum
      erraten werden kann. Schon gar nicht innerhalb von ein oder zwei Tagen,
      die dein Freund braucht um darauf zuzugreifen.</p>
    <!-- p>Temporäres Netzlaufwerk zum Austausch von Dateien</p -->
  </div>
  <div class="col-md-3 col-sm-4 col-sm-offset-1 well">
    <h2>API</h2>
    <p>Du musst nicht diese Seite nutzen, um diesen Service zu verwenden.
      Ein entsprechendes Formular (<strong>action="/file-upload"</strong>) 
      kannst du in deine Webseite oder App einbauen.</p>
    <p>Oder du nutzt diesen Service programmatisch indem du ein <strong>HTTP POST</strong>
      request mit dem Inhalt einer Datei im BODY an <strong>/uploads</strong> 
      (mit <em>X-Allowed-Downloads</em> und <em>Content-Type</em>) schickst.</p>
  </div>
</div>

<form class="" id="upload-form" action="/file-upload" method="POST" enctype="multipart/form-data">
  <div class="row">
    <div id="dropzone" class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 well" ondrop="drop(event)">
      <input name="file" id="dropfileinput" type="file" accept="*/*" capture="capture" size="50" maxlength="100000" onChange="submit()">
      <h2>Drop or Tap here</h2>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
      <label for="count">Anzahl Abrufe bevor die Datei auf dem Server gelöscht wird:</label>
      <input class="form-control" name="count" id="count" type="number" value="1" min="1" max="9" size="1">
    </div>
  </div>

</form>
