#count {
  width: initial;
  display: inline-block;
}

@media (min-width: 767px) {
  #about .well {
    height: 270px;
  }
}

#about .well {
  overflow: scroll;
  text-overflow: ellipsis;
}

#about .well h2 {
  margin-top: 0px;
}

#dropzone {
  margin-top: 20px;
  margin-bottom: 10px;
  height: 200px;
  border-radius: 20px;
  border: 5px dashed #d0d0d0;
  text-align: center;
  color: #d0d0d0;
}

#dropzone input {
  height: 180px;
  width: 100%;
  opacity: 0;
}

#dropzone h2 {
  margin-top: -180px;
}

input#location {
  width: 80%;
}

#location-mail a {
  text-decoration: none;
}

#location-mail span {
  font-size: 4em;
  display: block;
}

#location-qrcode img{
  margin-left: auto;
  margin-right: auto;
}

#faq .panel-heading a {
  display: block;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 70px;
}

.footer {
  height: 50px;
  margin-bottom: 0px;
  position: absolute;
  bottom: 0;
  width: 100%;
}